* {
    -fx-font-family: Roboto;

}

#button {
    -fx-background-color: #6f8cf6;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-background-radius: 12px;

}

#button:hover {
    -fx-background-color: #7a97ff;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-background-radius: 12px;
}

#button:pressed {
    -fx-background-color: #a5b8fd;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-background-radius: 12px;
}

#MiniAnchor {
    -fx-background-color:linear-gradient( #281981, #0b2eaf, #0c014d);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);


}

#Anchor {
    -fx-background-color: linear-gradient(#100552, #0b0077, #1300a9, #3118ff) no repeat fixed;

}

#TextFields {
    -fx-border-color: #6f8cf6;
    -fx-border-width: 3px;
    -fx-background-color: #e4e8ef;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

#largerPANE {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: transparent;

}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-background-radius: 0 10 10 0;
}
#Table{
    -fx-background-radius: 0 10 10 0;
}
.table-view .column-header-background .filler {
    -fx-background-color: #0e073b;
}

.table-view .column-header .label {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-view .table-row-cell:even {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.table-view .table-row-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.table-view .column-header .sort-icon {
    -fx-opacity: 0.5;
}

.table-view .column-header .sort-order-icon {
    -fx-opacity: 0.8;
}


.table-view .table-row-cell:filled:hover {
    -fx-background-color: #f5f5f5;
}

.table-view .table-row-cell:filled:odd:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.table-view .table-row-cell:filled:even:hover {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.table-view .column-header .label:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .arrow:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .arrow-down:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .arrow-up:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .filler:empty {
    -fx-background-color: transparent;
}



.check-box {
    -fx-background-color: #7a97ff;
    -fx-border-color: #1e1c41;
    -fx-cursor: hand;

}

.check-box .box {
    -fx-background-color: #7a97ff;

}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

#hbow {
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
}

#scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
}

#scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#scroll-pane .scroll-bar {
    -fx-background-color: #6f8cf6;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#scroll-pane .scroll-bar .thumb {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

#scroll-pane .scroll-bar .increment-button,
#scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: #7a97ff;
}

#scroll-pane .scroll-bar .increment-arrow,
#scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: white;
}


.image-view {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}
.date-picker{
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-color: #6f8cf6;
    -fx-border-width: 3px;

}
.date-picker .arrow-button {
    -fx-background-color: #2e47ad;
    -fx-background-radius: 0 10px 10px 0;
}
.date-picker > .text-field {
    -fx-background-radius: 10px 0 0 10px;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #486fff;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: #fff;
}
.date-picker .cell {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}
.date-picker .cell:hover {
    -fx-background-color: #3154cb;
    -fx-text-fill: #ffffff;
}

.date-picker .cell:focused {
    -fx-background-color: #1139c0;
    -fx-text-fill: #ffffff;
}
.date-picker .selected {
    -fx-background-color: #7290f8;

    -fx-text-fill: #ffffff;
}
.date-picker .selected:focused {
    -fx-background-color: #566ed3;
    -fx-text-fill: #ffffff;
}
.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-background-radius: 10px 10px 5px 5px;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #3a27c0;
    -fx-background-radius: 10px ;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #fff;

}
.date-picker-popup .week-number-cell {
    -fx-text-fill: #2510d2;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #fff;
}

.hbox{
    -fx-background-color: linear-gradient(#100552, #0b0077);

}
.label{
    -fx-text-fill: #ffffff;
}

.slider{
    -fx-background-color: #566ed3;

}
.slider .filled {
    -fx-selection-color: green;
}
