* {
    -fx-font-family: Calibri;

}

.SearchableComboBox {
    -fx-background-color: #000;
}

.label {
    -fx-font-family: Calibri;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-font-style: italic;
}

#MenuBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#MenuBtn:hover {
    -fx-background-color: #802936;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

#MenuBtn:pressed {
    -fx-background-color: #931625;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

#Title {
    -fx-font-family: Calibri;
    -fx-font-size: 48px;
    -fx-font-weight: Bold;
    -fx-font-style: italic;
}

#Category {
    -fx-font-family: Calibri;
    -fx-font-size: 22px;
}

#button {
    -fx-background-color: #801336;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #c72c41;
    -fx-font-size: 14px;
    -fx-background-radius: 15px;
    -fx-text-fill: White;

}

#button:hover {
    -fx-background-color: #c72c41;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #c72c41;
    -fx-font-size: 14px;
    -fx-background-radius: 15px;
}

#SynopsisBtn {
    -fx-background-color: #D62E4A;
    -fx-background-radius: 30px;
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
}

#SynopsisBtn:hover {
    -fx-background-color: #b70e0e;
    -fx-background-radius: 30px;
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
}

#SynopsisBtn:pressed {
    -fx-background-color: #64131f;
    -fx-background-radius: 30px;
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-font-weight: Bold;
}

#button:pressed {
    -fx-background-color: #ee4540;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #c72c41;
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
    -fx-background-radius: 15px;
}


#Anchor {
    -fx-background-color: #2D142C;

}

#TextFields {
    -fx-border-color: #661332;
    -fx-border-width: 4px;
    -fx-background-color: #B3253D;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: white;
}

#SearchField {
    -fx-background-radius: 12px 0px 0px 12px;
    -fx-background-color: #212121;
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: white;
}

#SearchBtn {
    -fx-background-radius: 0px 12px 12px 0px;
    -fx-background-color: #212121;
}


#ComboBox {
    -fx-border-color: #661332;
    -fx-border-width: 4px;
    -fx-background-color: #B3253D;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-background-insets: 0;
}

#ComboBox .text-field {
    -fx-prompt-text-fill: rgba(255, 0, 0, 0.5);
    -fx-text-fill: white;
}

#ComboBox .text-field:focused {
    -fx-prompt-text-fill: transparent;
}

#ComboBox .list-view {
    -fx-background-color: #510A32;
    -fx-background-radius: 10px;


}

#ComboBox .list-cell {
    -fx-background-color: #B3253D;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-width: 0px 0px 1px 1px;
    -fx-border-color: #661332;

}

#ComboBox .list-cell:hover {
    -fx-background-color: #661332;
}

#ComboBox .arrow-button {
    -fx-border-color: #661332;
    -fx-border-width: 0px 0px 1px 0px;
}

#ComboBox .arrow-button > .arrow {
    -fx-background-color: white;
}

#ComboBox .scroll-bar:vertical {
    -fx-background-color: #B3253D;
}

#ComboBox .scroll-bar > .track {
    -fx-background-color: #B3253D;
}

#ComboBox .scroll-bar > .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

#ComboBox .scroll-bar > .increment-button:hover,
#ComboBox .scroll-bar > .decrement-button:hover {
    -fx-background-color: #ffffff;
}

#ComboBox .scroll-bar > .increment-button > .arrow,
#ComboBox .scroll-bar > .decrement-button > .arrow {
    -fx-background-color: #ffffff;
}

#ComboBox .scroll-bar > .increment-button:hover > .arrow,
#ComboBox .scroll-bar > .decrement-button:hover > .arrow {
    -fx-background-color: #B3253D;
}


.check-box {
    -fx-background-color: #B3253D;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.check-box .box {
    -fx-background-color: #B3253D;
    -fx-text-fill: white;
}

.check-box .box:hover {
    -fx-background-color: #661332;
}

.check-box:selected .box {
    -fx-background-color: #B3253D;
}

.check-box:selected .box:hover {
    -fx-background-color: #B3253D;
}

.check-box:selected .box:pressed {
    -fx-background-color: #B3253D;
}

/*CHECK COMBOBOX HERE */

#myCheckComboBox .list-cell {
    -fx-background-color: #B3253D;
    -fx-background-radius: 8px 0px 0px 8px;
    -fx-text-fill: #ffffff;
    -fx-border-color: #661332;
    -fx-border-width: 4px 0px 4px 4px;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-control-inner-background: #620505;
    -fx-background-insets: -3px -1px -1px -1px;
    -fx-control-background: #620505;
    -fx-border-insets: -4px;
}


#myCheckComboBox .arrow-button, .check-combo-box {
    -fx-background-color: #B3253D;
    -fx-border-color: #661332;
    -fx-background-radius: 0;
    -fx-background-insets: -1px -1px -1px -3px;
    -fx-border-insets: -4px;
}

#myCheckComboBox .arrow-button {
    -fx-border-width: 4px 4px 4px 0px;
    -fx-border-radius: 0px 10px 10px 0px;
}

#myCheckComboBox .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-border-insets: -4px;
}


#myCheckComboBox .list-view {
    -fx-background-color: transparent;

}

#myCheckComboBox .scroll-bar:vertical {
    -fx-background-color: #B3253D;
}

#myCheckComboBox .scroll-bar > .track {
    -fx-background-color: #B3253D;
}

#myCheckComboBox .scroll-bar > .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

#myCheckComboBox .scroll-bar > .increment-button:hover,
#myCheckComboBox .scroll-bar > .decrement-button:hover {
    -fx-background-color: #ffffff;
}

#myCheckComboBox .scroll-bar > .increment-button > .arrow,
#myCheckComboBox .scroll-bar > .decrement-button > .arrow {
    -fx-background-color: #ffffff;
}

#myCheckComboBox .scroll-bar > .increment-button:hover > .arrow,
#myCheckComboBox .scroll-bar > .decrement-button:hover > .arrow {
    -fx-background-color: #B3253D;
}
/* transparent TEXT-AREA*/
.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;

}


#DescriptionBox {
    -fx-border-color: #661332;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 14px;
    -fx-font-size: 14px;
    -fx-background-insets: 10px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

#DescriptionBox .content {
    -fx-background-color: #B3253D;
    -fx-control-inner-background: #B3253D;
}


/* TABLE EDIT*/
.table-view .table-cell {
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: transparent;

}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 0 10 10 0;
}

#Table {
    -fx-background-radius: 0 10 10 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: #4b0202;
}

.table-view .column-header .label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-alignment: center;
    -fx-alignment: center;

}

.table-view .table-row-cell:even {
    -fx-background-color: rgba(0, 0, 0, 0.14);
}

.table-view .table-row-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0.29);
}

.table-view .column-header .sort-icon {
    -fx-opacity: 1;
}

.table-view .column-header .sort-order-icon {
    -fx-opacity: 1;
}


.table-view .table-row-cell:filled:hover {
    -fx-background-color: #f5f5f5;
}

.table-view .table-row-cell:filled:odd:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.table-view .table-row-cell:filled:even:hover {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}


.table-view .column-header .label:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .arrow:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .arrow-down:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .arrow-up:empty {
    -fx-background-color: transparent;
}

.table-view .column-header .filler:empty {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: #B3253D;
}

.table-view .scroll-bar > .track {
    -fx-background-color: #B3253D;
}

.table-view .scroll-bar > .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.table-view .scroll-bar > .increment-button:hover,
.table-view .scroll-bar > .decrement-button:hover {
    -fx-background-color: #ffffff;
}

.table-view .scroll-bar > .increment-button > .arrow,
#myCheckComboBox .scroll-bar > .decrement-button > .arrow {
    -fx-background-color: #ffffff;
}

.table-view .scroll-bar > .increment-button:hover > .arrow,
.table-view.scroll-bar > .decrement-button:hover > .arrow {
    -fx-background-color: #B3253D;
}

.table-row-cell:selected {
    -fx-background-color: #fc0000;
    -fx-text-fill: white;
}

.check-box {
    -fx-background-color: #7c1d40;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: #4b0202;
    -fx-cursor: hand;

}

.check-box .box {
    -fx-background-color: #9a1515;
    -fx-background-radius: 15px;

}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

#hbow {
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
}

#scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
}

#scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#scroll-pane .scroll-bar .thumb {
    -fx-background-color: #b3253d;
    -fx-background-radius: 10px;
}

#scroll-pane .scroll-bar .increment-button,
#scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: #b3253d;
}

#scroll-pane .scroll-bar .increment-arrow,
#scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: white;
}


.image-view {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.date-picker {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-color: #661332FF;
    -fx-border-width: 3px;

}

.date-picker .arrow-button {
    -fx-background-color: #b3253d;
    -fx-border-color: #661332;
    -fx-border-width: 0px;
    -fx-background-radius: 0px 7px 7px 0px;

}

.date-picker > .text-field {
    -fx-background-radius: 7px 0 0 7px;
    -fx-background-color: #B3253D;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;

}

.date-picker .arrow-button:hover {
    -fx-background-color: #ee4540;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #ffffff;
}

.date-picker .cell {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.date-picker .cell:hover {
    -fx-background-color: #ee4540;
    -fx-text-fill: #ffffff;
}

.date-picker .cell:focused {
    -fx-background-color: #b3253d;
    -fx-text-fill: #ffffff;
}

.date-picker .selected {
    -fx-background-color: #650b3d;

    -fx-text-fill: #ffffff;
}

.date-picker .selected:focused {
    -fx-background-color: #b3253d;
    -fx-text-fill: #ffffff;
}

.date-picker-popup {
    -fx-border-color: transparent;
    -fx-background-radius: 10px 10px 5px 5px;
    -fx-background-color: #812b3c;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #801336;
    -fx-background-radius: 10px;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #fff;

}

.date-picker-popup .week-number-cell {
    -fx-text-fill: #2510d2;
    -fx-background-color: #2510d2;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #fc0000;
}

.hbox {
    -fx-background-color: linear-gradient(#100552, #0b0077);

}

.label {
    -fx-text-fill: #ffffff;
}

.slider {
    -fx-background-color: #566ed3;

}

.slider .filled {
    -fx-selection-color: green;
}
